################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/0_noauth/.vs
/0_noauth/WebApplication5/bin/Debug/netcoreapp2.0
/0_noauth/WebApplication5/obj
/0_noauth/XUnitTestProject1/bin/Debug/netcoreapp2.0
/0_noauth/XUnitTestProject1/obj
/1_aad/WebApplication1/.vs
/1_aad/WebApplication1/WebApplication1/bin/Debug/netcoreapp2.0
/1_aad/WebApplication1/WebApplication1/obj
/1_aad/WebApplication1/XUnitTestProject1/bin/Debug/netcoreapp2.0
/1_aad/WebApplication1/XUnitTestProject1/obj
/1_aad/WebApplicationAAD/.vs
/1_aad/WebApplicationAAD/WebApplicationAAD/bin/Debug/netcoreapp2.0
/1_aad/WebApplicationAAD/WebApplicationAAD/obj
/1_aad/WebApplicationAAD/XUnitTestProject1/bin/Debug/netcoreapp2.0
/1_aad/WebApplicationAAD/XUnitTestProject1/obj
/2_aad_b2c/WebApplication1/.vs/WebApplication1/v15
/2_aad_b2c/WebApplication1/WebApplication1/bin/Debug/netcoreapp2.0
/2_aad_b2c/WebApplication1/WebApplication1/obj
/2_aad_b2c/WebApplicationB2C/.vs/WebApplicationB2C/v15
/2_aad_b2c/WebApplicationB2C/WebApplicationB2C/bin/Debug/netcoreapp2.0
/2_aad_b2c/WebApplicationB2C/WebApplicationB2C/obj
/2_aad_b2c/WebApplicationB2C/XUnitTestProject1/bin/Debug/netcoreapp2.0
/2_aad_b2c/WebApplicationB2C/XUnitTestProject1/obj
/.vs
/1_aad/WebApplicationAAD/packages
/1_aad/WebApplicationAAD/UnitTestProject1/bin/Debug
/1_aad/WebApplicationAAD/UnitTestProject1/obj/Debug
/3_swag_aad/WebSwaggerAAD/.vs
/3_swag_aad/WebSwaggerAAD/packages
/3_swag_aad/WebSwaggerAAD/WebSwaggerAAD/bin
/3_swag_aad/WebSwaggerAAD/WebSwaggerAAD/obj/Debug
/4_swag_aad_core/WebSwaggerCoreAAD/.vs/WebSwaggerCoreAAD/v15
/4_swag_aad_core/WebSwaggerCoreAAD/WebSwaggerCoreAAD/bin/Debug/netcoreapp2.0
/4_swag_aad_core/WebSwaggerCoreAAD/WebSwaggerCoreAAD/obj
/2_aad_b2c/WebApplicationB2C/WebApplicationB2CA/obj
